/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.autocomplete-items {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 0.5px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.mt-4{
  margin-top: 4px;
}
.section.no-pad-bot{
  background: #f3f0f0;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.section.no-pad-bot .container{
  background: #fff;
  border-radius: 16px;
  box-shadow: 3px 0 15px -4px #92969acc, -3px 0 8px -4px #92969acc;
}
h1.header{
  font-size: 2.5rem;
  font-family: "Roboto",sans-serif;
  margin-top: 0;
  padding-top: 30px;
}
h5.header{
  font-size: 1.5rem;
  font-family: "Roboto",sans-serif;

}
h5.footer-text{
  font-size: 1rem;
  opacity:0.8;
  font-family: "Roboto",sans-serif;

}
h2.footer-text{
  font-size: 2rem;
  margin:1.0933333333rem 0 0.656rem 0
}
h6.light{
  font-family: "Roboto",sans-serif;
  font-size: 1rem;
  opacity: 0.6;
  margin-bottom: 15px;
}
.brand-logo{
  width: 270px;
}
.main-logo{
  width: 100%;
  margin-top: 8px;
}
.email-text{
  margin: 0;
  font-weight: 400;
}
.email-text a{
  color: #000;
}
[type="checkbox"] + span:not(.lever){
  font-size: 1.25rem;
}
[type="checkbox"] + span:not(.lever):before, [type="checkbox"]:not(.filled-in) + span:not(.lever):after{
  border: 2px solid #9e9e9e;
  opacity: 0.8;
}
label {
  font-size: 1.3rem;
  color: #000;
}
.mt-10{
  margin-top: 40px;
}
.custom-button{
  width: 100%;
}
@media only screen and (max-width: 992px){
  .section.no-pad-bot{
    background-color: #fff;
  }
  h1.header{
    font-size: 1.5rem;
    padding: 30px 30px 0 30px;
  }
  nav .brand-logo {
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
  }
  .brand-logo {
    width: 210px;
  }
}