

body{
  background:#f3f0f0
}
.navbar, .navbar.navbar-default{
  background: #26a69a !important;
  padding-top: 10px;
}
.brand-logo{
  width: 270px;
  padding: 0 !important;
}
.main-logo{
  width: 100%;
}


.main-raised {
  margin: 120px auto;
  max-width: 970px;
  box-shadow: 0 16px 24px 2px rgb(0 0 0 / 4%), 0 6px 10px 5px rgb(0 0 0 / 5%), 0 8px 10px -5px rgb(0 0 0 / 2%)
}

h2.main-header{
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin-top: 0;
  color: #009688 !important;
  font-weight: 400;
}
.checkbox label, .radio label, label {
  font-size: 1.6rem;
  line-height: 1.42857;
  color: #000;
  font-weight: 400;
  font-family: "Roboto",sans-serif;
  letter-spacing: 0.8px;
}
.section {
  padding: 30px 0  !important;
}
.checkbox input[type=checkbox]:checked + .checkbox-material .check{
  background: #009688;
}
h3.header{
  margin-bottom: 0;
  font-size: 1.5em;
}
h3.header2{
  margin-top: 0;
  font-size: 1.5em;

}
.btn.btn-primary.custom-btn{
  background-color: #009688;
  color: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgb(33 151 136 / 14%), 0 3px 1px -2px rgb(33 151 136 / 20%), 0 1px 5px 0 rgb(33 151 136 / 12%)  ;
  white-space: normal;
  text-transform: none;
  font-size: 1.2em;
}
.btn.btn-primary.custom-btn:hover{
  box-shadow: 0 14px 26px -12px rgb(33 151 136 / 42%), 0 4px 23px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(33 151 136 / 20%)
}
.btn.btn-primary:active:hover{
  background-color: #009688;
}
.space-70 {
  height: 40px;
  display: block;
}
h5.footer-text{
  font-size: 1.5rem;
  opacity:0.8;
  font-family: "Roboto",sans-serif;
  margin-top: 10px;
  margin-bottom: -3px;
}
.padd-left-footer{
  padding-left: 80px;
}
.autocomplete-items {
  position: absolute;
  /* border: 1px solid #d4d4d4; */
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 4px;
    box-shadow: rgb(0 0 0 / 26%) 0px 2px 5px 0px;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 0.5px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.form-group.is-focused .form-control{
  background-image: linear-gradient(#009688, #009688), linear-gradient(#D2D2D2, #D2D2D2);
}
.btn-twitter{
  padding: 0;
  margin: 0;
}
h2.footer-text{
  font-size: 2rem;
  margin:1.0933333333rem 0 0.656rem 0
}
h6.light{
  font-family: "Roboto",sans-serif;
  font-size: 1rem;
  opacity: 0.6;
  margin-bottom: 15px;
}
.email-text{
  margin: 0;
  font-weight: 400;
}
.email-text a{
  color: #000;
  word-break: break-all;
}
.mt-15{
  margin-top: 15px;
}
.modal-content .modal-body {
  padding-top: 6px;
  padding-right: 24px;
  padding-bottom: 6px;
  padding-left: 24px;
}
ol li.mt-15{
  font-size: 1.5rem;
  font-family: "Roboto",sans-serif;
}
@media (min-width: 1200px){
  .container {
      width: 970px;
  }
}

@media only screen and (max-width: 992px){
  .main-raised {
    margin: 70px auto 0 auto;
  }
  .padd-left-footer{
    padding-left: 0;
  }
  nav .brand-logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .brand-logo {
    width: 240px;
  }
  h2.main-header{
    font-size: 1.8em;
  }
}